.TrafficLight {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.TrafficLight .bulb{
    width: 64px;
    height: 64px;
    display: inline-block;
    border-radius: 50%;
    margin: 10px;
    opacity: .2;
}

.TrafficLight .bulb.active {
    opacity: 1;
}

.TrafficLight .bulb.red {
    background-color: red;
}

.TrafficLight .bulb.green {
    background-color: green;
}

.TrafficLight .bulb.orange {
    background-color: orange;
}

.App button {
    padding: 0.3rem;
    border-radius: 10px;
    margin-right: 10px;
}

.App button:focus {
    outline: none;
}